@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h6>Proof of concept administration af covid 19 tests</h6>
    <div class="img-fluid"><img src="~/covid.jpg" /></div>
    <p><a href="https://github.com/morten-s/smart_uss_uge2">https://github.com/morten-s/smart_uss_uge2</a></p>
</div>
