@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Proof of concept administration af covid 19 tests</h1>
    <p>github https://github.com/morten-s/smart_uss_uge2</p>
</div>
